body {
  background-color: white;
}

#Slo {
  background-color: #FED328;
  width: 1424px;
  margin-top: -10px;
  margin-left: -10px;
  margin-bottom: 30px;
  padding-bottom: -400px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px #B7963B ;

}

#bee{

  padding-left: 40px;
  padding-top: 10px;
  width: 110px;

}

#Pes {
  border-radius: 30px;
  width: 500px;
  height: 50px;
  margin-top: -15px;
  margin-right: 100px;
  padding: 10px;
  padding-right: 100px;
  margin-left: 450px;
}

#Pesquisa {
  margin-top: -50px;
  height: 50px;
  position: absolute;
  left: 10px;
  top: 100px;

}

#Carrin {
  display: block;
  position: absolute;
  right: 150px;
  top: 35px;
}

#pontin {
  display: block;
  position: absolute;
  right: 70px;
  top: 30px;
  background-color: #FED328 ;
  padding: 10px;
}

#coluna{

  background-color: #FED328;
  position: absolute;
  left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  box-shadow: 3px 3px 10px #B7963B ;



}

ul{

  list-style: none;

}

li{

  padding-top: 5px;
  padding-right: 80px;
  padding-bottom: 30px;

}

#btnMostrar{

  font-size: 22px;
  background: none;
  border: none;
  height: 40px;
  width: 90px;

}

#btnMostrar1{

  font-size: 22px;
  background: none;
  border: none;
  height: 40px;
  width: 90px;

}

#btnMostrar2{

  font-size: 22px;
  background: none;
  border: none;
  height: 40px;
  width: 90px;

}

#btnMostrar3{

  font-size: 22px;
  background: none;
  border: none;
  height: 40px;
  width: 90px;
 



}

/* A div começa escondida */
.oculta {
  display: none;
}